<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title></title>
  </head>
  <body>
    <section id="nav"></section>
    <div class="container">
      <div class="row">
        <div class="col">
          <form>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="token">Project ID</label>
                    <input type="text" class="form-control" value="2025579" id="project_id" placeholder="Project ID">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="token">Token</label>
                    <input type="password" class="form-control" id="token" placeholder="YOUR TOKEN">
                  </div>
                </div>
                <div class="col-md-2"><button type="submit" id="btn" class="btn btn-block btn-primary btn-inline-form">Submit</button></div>
              </div>
            </form>
        </div>
      </div>
    </div>
    <script src="../static/comun.js" charset="utf-8"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js" charset="utf-8"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="./configuration.js" charset="utf-8"></script>
  </body>
</html>
