*::selection {
    background: #CCCCCC;
}

html, body {
  background: #222d38;
}

.message-alert {
  display: none;
  padding: 5px 10px;
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 9999999;
  background: rgba(17, 17, 17, 0.83);
  min-width: 200px;
  height: 36px;
  border-radius: 10px;
  color: white;
}

.label {
  display: inline-block;
  border: solid 1px #28a745;
  background: rgb(248, 249, 250);
  color: #28a745;
  padding: 2px 6px;
  border-radius: 11px;
  margin: 2px;
  box-shadow: 0px 0px 2px rgba(12, 12, 12, 0.42);
}

.avatar {
  border-radius: 50%;
  font-size: 14px;
  width: 30px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: white;
  text-align: center;
  font-style: normal;
  vertical-align: top;
}

textarea[name="slack-text"] {
  height: 300px;
}

.member-box {
  margin: 0 -15px;
  padding: 10px 15px;
  border-bottom: solid 1px #222d38;
}
.member-box:hover {
  background: #222d38;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.49);
}

.btn-inline-form {
  margin-top: 32px;
}
.hidden {
  display: none;
}

.stories {
  margin: 15px 0;
}

.epic-name {
  font-size: 16px;
  list-style: none;
  font-weight: 600;
  margin: 10px 0 5px 0;
}
.stories {
  margin: 0;
  padding: 0;
}
.stories > li {
  padding: 4px 10px;
  list-style: none;
}
.mark {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
}
.container, .container-fluid > div{
  background: #343a40;
  border: solid 1px #222d38;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  margin-top: 85px;
  color: #FFFFFF;
}


.added-action-icon {
  background: #17a2b8;
  border: solid 2px #17a2b8;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transform: scale(.7);
}
.added-action-icon:hover {
  background: #464a4e;
  border-radius: 50%;
  border: solid 2px #464a4e;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.74);
}


/*TRELLO*/
#boards {
  overflow: scroll;
}
.boards {

}
.boards .board{
  width: 300px;
  background: #222d38;
  margin: 0 10px;
  padding: 0;
  border-bottom: solid 1px #222d38;
  display: inline-block;
  vertical-align: top;
  border: solid 2px #222d38;
  border-radius: 5px;
  overflow: hidden;
  height: 700px;
}
.boards .board h2{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 10px 0px 10px;
  background: #222d38;
  margin: 0 0 10px 0;
}
.boards .board .cards{
  height: 620px;
  overflow: scroll;
  width: 100%;
}
.boards .board .cards .card{
  margin: 5px 10px;
}
.boards .board .cards .card .badge{
  margin: 0 4px;
}
.boards .board .cards .card .badge:first-child{
  margin-left: 0;
}
.boards .board .cards .card .badge:last-child{
  margin-right: 0;
}

.table-dark, .table-dark>td, .table-dark>th {
    background-color: #343a40;
}
.table.table-dark td, .table.table-dark th {
  border-top: 1px solid #222d38;
}

.member-box:hover
.table-dark {
  background-color: #222d38;
}

.member-box:hover
.table-dark td,
.member-box:hover
.table-dark th {
    border-top: 1px solid #33393f;
}
